lottery-truffle/node_modules/
lottery-truffle/package-lock.json
lottery-truffle/package.json

lottery-hardhat/node_modules/
lottery-hardhat/.env
lottery-hardhat/coverage
lottery-hardhat/coverage.json
lottery-hardhat/typechain
lottery-hardhat/typechain-types
lottery-hardhat/package-lock.json
lottery-hardhat/package.json

# Hardhat files
lottery-hardhat/cache
lottery-hardhat/artifacts

lottery-v2-api-server/package.json
lottery-v2-api-server/package-lock.json
lottery-v2-api-server/node_modules/

lottery-v2-api-server/config/development.env
lottery-v2-api-server/config/sepolia.env
lottery-v2-api-server/config/db-config.json

.DS_Store